# Common Ignored Files
*.log
.DS_Store

# alarm_server (Node.js) 관련 .gitignore 규칙
/alarm_server/dist
/alarm_server/node_modules


/alarm_server/logs
/alarm_server/npm-debug.log*
/alarm_server/pnpm-debug.log*
/alarm_server/yarn-debug.log*
/alarm_server/yarn-error.log*
/alarm_server/lerna-debug.log*

/alarm_server/coverage
/alarm_server/.nyc_output

/alarm_server/.idea
/alarm_server/.project
/alarm_server/.classpath
/alarm_server/.c9/
/alarm_server/*.launch
/alarm_server/.settings/
/alarm_server/*.sublime-workspace

/alarm_server/.vscode/*
!/alarm_server/.vscode/settings.json
!/alarm_server/.vscode/tasks.json
!/alarm_server/.vscode/launch.json
!/alarm_server/.vscode/extensions.json

/alarm_server/.env

# alarm_front (Flutter) 관련 .gitignore 규칙
/alarm_front/*.class
/alarm_front/*.pyc
/alarm_front/*.swp

/alarm_front/.atom/
/alarm_front/.buildlog/
/alarm_front/.history
/alarm_front/.svn/
/alarm_front/migrate_working_dir/

/alarm_front/*.iml
/alarm_front/*.ipr
/alarm_front/*.iws
/alarm_front/.idea/

/alarm_front/**/doc/api/
/alarm_front/**/ios/Flutter/.last_build_id
/alarm_front/.dart_tool/
/alarm_front/.flutter-plugins
/alarm_front/.flutter-plugins-dependencies
/alarm_front/.pub-cache/
/alarm_front/.pub/
/alarm_front/build/

/alarm_front/app.*.symbols
/alarm_front/app.*.map.json

/alarm_front/android/app/debug
/alarm_front/android/app/profile
/alarm_front/android/app/release

/alarm_front/.vscode/

