<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291277932469-3m0d2ec0ap1ju7fdmr3tddsndjdkrbe7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291277932469-3m0d2ec0ap1ju7fdmr3tddsndjdkrbe7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>291277932469-ah12a5u6piq87jmjoph3vod914jla13a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxYK8SOYWjZKAFV2IL2GV6_tJlkogf4VI</string>
	<key>GCM_SENDER_ID</key>
	<string>291277932469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alarmFront</string>
	<key>PROJECT_ID</key>
	<string>topic-on-5dbc0</string>
	<key>STORAGE_BUCKET</key>
	<string>topic-on-5dbc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291277932469:ios:d066b6bdb2d488e5b0bbfc</string>
</dict>
</plist>